.hero{
    margin-bottom: 200px;
    // hero section description
    &__description {
        @include fontTitles(500, 3rem, var(--main-dark-text-color));
        line-height: 3.8rem;
        white-space: pre-line;
        margin: 70px 0;
        span {
            font-weight: 900;
        }
    }
    // hero image animated gif
    &__image {
        img {
            width: 500px;
            margin-top: 400px;
        }
    }
}