.portfolio__single {
    margin-top: 100px;
    &__desc {
        margin: 50px 0 100px 0;
        &__content {
            width: 50%;
            margin-right: 40px;
            @include fontText(500, 1.4rem, var(--main-dark-text-color));
        }
        &__video {
            margin-top: 50px;
        }
    }
    &__gallery {
        &__desktop, &__desktop__extend, &__mobile {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            margin-bottom: 30px;
        }
    }
}

// MOBILE

.portfolio__single {
    &__desc {
        &__content {
            width: 100%;
        }
    }
}