// FONTS
@mixin fontTitles($weight, $size, $color) {
  font-family: "Raleway", sans-serif;
  font-weight: $weight;
  font-size: $size;
  color: $color;
}
@mixin fontText($weight, $size, $color) {
  font-family: "Noto Sans", sans-serif;
  font-weight: $weight;
  font-size: $size;
  color: $color;
}
