/* Reset css
--------------------------------------------- */
/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

/* Set core body defaults */
html {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	min-height: 100%;
	height: 100%;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}

/* Remove underline from all links */
a {
	text-decoration: none;
	color: var(--main-dark-text-color);
}

/* Imports
--------------------------------------------- */
/*--------------------------------------------------------------
# Breakpoints
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
:root {
	--main-dark-text-color: #222222;
	--white: #fff;
	--light-gray: #e8e8e8;
	--dark-gray: #1C1C1C;
	--pink: #F41F52;
	--light-pink: #fa5c81;
}

/*--------------------------------------------------------------
# Variables font mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Global flexbox, margins, paddings
--------------------------------------------------------------*/
.flex {
	display: flex;
}

.flex-jc-sb {
	justify-content: space-between;
}

.flex-jc-sa {
	justify-content: space-around;
}

.flex-jc-c {
	justify-content: center;
}

.flex-jc-l {
	justify-content: flex-start;
}

.flex-ai-c {
	align-items: center;
}

.flex-ai-end {
	align-items: flex-end;
}

.main-margin {
	margin: 0 4vw;
}

@media only screen and (min-width: 1030px) and (max-width: 2159px) {
	.main-margin {
		margin: 0 8vw;
	}
}

.main-padding {
	padding: 0 3vw;
}

@media only screen and (max-width: 640px) {
	.main-padding {
		padding: 0 4vw;
	}
}

@media only screen and (min-width: 640px) and (max-height: 768px) {
	.main-padding {
		padding: 0 10vw;
	}
}

@media only screen and (min-width: 1030px) and (max-width: 2159px) {
	.main-padding {
		padding: 0 14vw;
	}
}

@media only screen and (min-width: 2160px) {
	.main-padding {
		padding: 0 20vw;
	}
}

img {
	image-rendering: -webkit-optimize-contrast;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
.button {
	font-family: "Noto Sans", sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: var(--white);
	background-color: var(--pink);
	border-radius: 65px;
	border-style: none;
	transform: translate(0, 2px);
	cursor: pointer;
	display: inline-block;
	height: 44px;
	width: 200px;
	list-style: none;
	margin: 0;
	outline: none;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	vertical-align: baseline;
	transition: all ease-in-out .2s;
}

.button:hover {
	transform: translate(0, 0);
	box-shadow: rgba(0, 0, 0, 0.21) 0px 14px 28px, rgba(0, 0, 0, 0.2) 0px 10px 10px;
}

.section-header {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 2.2rem;
	color: var(--main-dark-text-color);
	position: relative;
	z-index: 9;
}

.section-header::after {
	position: absolute;
	z-index: -1;
	content: '';
	height: 18px;
	top: 32px;
	left: 40px;
	width: 148px;
	background: url(images/section-header-pink-underline.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

.arrow-after {
	position: relative;
	transition: all ease-in-out .2s;
}

.arrow-after::after {
	position: relative;
	display: inline-block;
	content: '';
	height: 12px;
	width: 32px;
	top: 5px;
	left: 10px;
	background: url(images/pink-arrow.svg);
	background-size: contain;
	background-repeat: no-repeat;
	transition: all ease-in-out .2s;
}

.arrow-after:hover {
	color: var(--pink);
}

.arrow-after:hover::after {
	left: 14px;
}

/*--------------------------------------------------------------
# Styles
--------------------------------------------------------------*/
.site-header {
	margin: 20px 0 20px 0;
}

.site-header__logo__title {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	font-size: 1.8rem;
	color: var(--main-dark-text-color);
}

.site-header__logo__title span {
	font-weight: 500;
}

.site-header__menu__item {
	margin-left: 117px;
}

.site-header__menu__item a {
	font-family: "Noto Sans", sans-serif;
	font-weight: 300;
	font-size: 1rem;
	color: var(--main-dark-text-color);
	transition: all ease-in-out .1s;
}

.site-header__menu__item a:hover {
	color: var(--pink);
}

@media only screen and (max-width: 640px) {
	.site-header__logo__title {
		font-size: 1.4rem;
	}
	.site-header__menu {
		display: none;
	}
}

.hero {
	margin-bottom: 200px;
}

.hero__info__desc {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 3.8rem;
	color: var(--main-dark-text-color);
	line-height: 4.2rem;
	white-space: pre-line;
	margin: 70px 0;
}

@media only screen and (min-width: 640px) and (max-height: 768px) {
	.hero__info__desc {
		font-size: 3rem;
		line-height: 3.2rem;
	}
}

.hero__info__desc span {
	font-weight: 900;
}

.hero__image img {
	width: 700px !important;
	margin-top: 400px;
}

@media only screen and (min-width: 640px) and (max-height: 768px) {
	.hero__image img {
		max-width: 460px;
	}
}

@media only screen and (max-width: 640px) {
	.hero {
		flex-direction: column;
		margin-bottom: 100px;
	}
	.hero__info {
		margin-bottom: 30px;
	}
	.hero__info__desc {
		font-family: "Raleway", sans-serif;
		font-weight: 500;
		font-size: 2.2rem;
		color: var(--main-dark-text-color);
		line-height: 2.6rem;
		margin: 10px 0;
	}
	.hero__image img {
		margin-top: 30px;
	}
}

.about {
	margin-bottom: 100px;
}

.about__services {
	order: 1;
}

.about__services li {
	margin-top: 50px;
	padding-right: 50px;
}

.about__services__header {
	position: relative;
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 1rem;
	color: var(--main-dark-text-color);
}

.about__services__header::after {
	position: absolute;
	content: '';
	height: 1px;
	bottom: -4px;
	left: 0;
	right: 0;
	width: 130px;
	background: var(--main-dark-text-color);
}

.about__services__description {
	font-family: "Noto Sans", sans-serif;
	font-weight: 500;
	font-size: 0.8rem;
	color: var(--main-dark-text-color);
	margin-top: 16px;
}

.about__info {
	max-width: 50%;
	order: 2;
}

.about__info__description {
	font-family: "Noto Sans", sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	color: var(--main-dark-text-color);
	margin-top: 10px;
}

.about__info a {
	font-family: "Noto Sans", sans-serif;
	font-weight: 400;
	font-size: 0.8rem;
	color: var(--main-dark-text-color);
	justify-content: end;
	margin-top: 20px;
}

@media only screen and (max-width: 640px) {
	.about {
		flex-direction: column;
	}
	.about__services {
		order: 2;
	}
	.about__info {
		order: 1;
		max-width: 100%;
	}
}

.portfolio {
	margin: 50px 0;
}

.portfolio ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.portfolio ul li .portfolio__single {
	margin-top: 100px;
}

.portfolio ul li .portfolio__single__image {
	height: 410px;
	width: 440px;
	max-width: 440px;
	background-position: center center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	order: 1;
	image-rendering: -webkit-optimize-contrast;
	transition: all ease-in-out .3s;
	-webkit-filter: grayscale(100%);
	filter: grayscale(90%);
}

.portfolio ul li .portfolio__single__image:hover {
	filter: grayscale(0%);
}

.portfolio ul li .portfolio__single__about {
	flex-direction: column;
	margin: 60px 0 0 40px;
	padding: 0 140px 0 0;
	max-width: 44%;
	order: 2;
}

.portfolio ul li .portfolio__single__about__title {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 1.8rem;
	color: var(--main-dark-text-color);
}

.portfolio ul li .portfolio__single__about__desc {
	flex-direction: column;
	font-family: "Noto Sans", sans-serif;
	font-weight: 500;
	font-size: 1.2rem;
	color: var(--main-dark-text-color);
}

.portfolio ul li .portfolio__single__about .more-link {
	font-family: "Noto Sans", sans-serif;
	font-weight: 400;
	font-size: 0.8rem;
	color: var(--main-dark-text-color);
	position: relative;
	margin-top: 20px;
}

.portfolio ul li .portfolio__single__about .more-link::after {
	position: relative;
	display: inline-block;
	content: '';
	height: 12px;
	width: 32px;
	top: 3px;
	left: 10px;
	background: url(images/pink-arrow.svg);
	background-size: contain;
	background-repeat: no-repeat;
	transition: all ease-in-out .2s;
}

.portfolio ul li .portfolio__single__about .more-link:hover {
	color: var(--pink);
}

.portfolio ul li .portfolio__single__about .more-link:hover::after {
	left: 14px;
}

.portfolio ul li:nth-child(even) .portfolio__single {
	justify-content: flex-end;
}

.portfolio ul li:nth-child(even) .portfolio__single__image {
	order: 2;
}

.portfolio ul li:nth-child(even) .portfolio__single__about {
	margin: 60px 40px 0 0;
	padding: 0 0 0 140px;
	order: 1;
}

@media only screen and (max-width: 640px) {
	.portfolio ul li .portfolio__single {
		margin-top: 20px;
		flex-direction: column;
	}
	.portfolio ul li .portfolio__single__image {
		background-size: contain !important;
		max-width: 100%;
		order: 2;
	}
	.portfolio ul li .portfolio__single__about {
		margin: 60px 0 20px 0;
		padding: 0 0 0 0;
		min-width: 100%;
		order: 1;
	}
	.portfolio ul li:nth-child(even) .portfolio__single__about {
		margin: 60px 0 20px 0;
		padding: 0 0 0 0;
	}
}

.contact {
	margin: 120px 0 120px 0;
}

.contact__first__image {
	margin-top: 90px;
}

.contact__first__image img {
	height: 600px;
	max-height: 600px;
}

@media only screen and (min-width: 640px) and (max-height: 768px) {
	.contact__first__image img {
		max-height: 420px;
	}
}

.contact__first__info {
	width: 50%;
	margin-left: 60px;
}

.contact__first__info__text {
	font-family: "Noto Sans", sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	color: var(--main-dark-text-color);
	margin-top: 10px;
}

.contact__first__info__text .arrow-after::after {
	top: 0px;
}

.contact__first__info__email {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 2rem;
	color: var(--main-dark-text-color);
	line-height: 2rem;
	margin-top: 40px;
	cursor: pointer;
}

.contact__first__info img {
	height: 80px;
	margin: 20px 0 0 200px;
}

.contact__second {
	margin-top: 100px;
}

.contact__second__form__header {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 1.6rem;
	color: var(--main-dark-text-color);
	margin-bottom: 20px;
}

.contact__second__form p {
	font-family: "Noto Sans", sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	color: var(--main-dark-text-color);
	margin-top: 10px;
}

.contact__second__form p:last-child {
	display: flex;
	justify-content: center;
	border: 2px solid green;
}

.contact__second__form input[type="text"],
.contact__second__form input[type="email"] {
	border: 0;
	border-bottom: 2px solid var(--dark-gray);
	width: 400px;
	height: 32px;
	font-family: "Noto Sans", sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	color: var(--main-dark-text-color);
}

.contact__second__form input[type="text"]:focus,
.contact__second__form input[type="email"]:focus {
	outline: 0;
	border-bottom: 2px solid var(--pink);
}

.contact__second__form textarea {
	border: 2px solid var(--dark-gray);
	width: 400px;
	height: 200px;
	margin-bottom: 40px;
	font-family: "Noto Sans", sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	color: var(--main-dark-text-color);
}

.contact__second__form textarea:focus {
	outline: 0;
	border: 2px solid var(--pink);
}

.contact__second__form input[type="submit"] {
	font-family: "Noto Sans", sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: var(--white);
	background-color: var(--pink);
	border-radius: 65px;
	border-style: none;
	transform: translate(0, 2px);
	cursor: pointer;
	display: inline-block;
	height: 44px;
	width: 200px;
	list-style: none;
	margin: 0;
	outline: none;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	vertical-align: baseline;
	transition: all ease-in-out .3s;
}

.contact__second__form input[type="submit"]:hover {
	transform: translate(0, 0);
	box-shadow: rgba(0, 0, 0, 0.21) 0px 14px 28px, rgba(0, 0, 0, 0.2) 0px 10px 10px;
}

.contact__second__form .wpcf7-not-valid-tip {
	font-size: .8rem;
}

.contact__second__form .wpcf7-response-output {
	border: hidden !important;
	font-family: "Noto Sans", sans-serif;
	font-weight: 400;
	font-size: 0.8rem;
	color: var(--pink);
}

.contact__second__form .wpcf7-list-item {
	max-width: 400px !important;
	font-size: .6rem;
	margin: 0 0 0 0;
}

@media only screen and (max-width: 640px) {
	.contact__first {
		flex-direction: column;
	}
	.contact__first__image {
		order: 2;
	}
	.contact__first__image img {
		width: 100%;
		height: 300px;
	}
	.contact__first__info {
		order: 1;
		width: 100%;
		margin-left: 0px;
	}
	.contact__second__form input[type="text"],
	.contact__second__form input[type="email"] {
		width: 100%;
	}
	.contact__second__form textarea {
		width: 100%;
	}
	.contact__second__form input[type="submit"] {
		margin: 30px 0 0 0;
	}
}

footer {
	background: var(--dark-gray);
}

footer .footer__info {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	color: var(--white);
	padding: 40px 0;
}

.single__project {
	margin-top: 100px;
}

.single__project p {
	width: 600px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 1.6rem;
	color: var(--main-dark-text-color);
	margin: 20px 0 0 0;
	display: flex;
	flex-direction: column;
}

.single__project img {
	margin: 40px 0;
	width: auto;
}

.single__project video {
	display: flex;
	justify-content: center;
	align-items: center;
}

.portfolio__single {
	margin-top: 100px;
}

.portfolio__single__desc {
	margin: 50px 0 100px 0;
}

.portfolio__single__desc__content {
	width: 50%;
	margin-right: 40px;
	font-family: "Noto Sans", sans-serif;
	font-weight: 500;
	font-size: 1.4rem;
	color: var(--main-dark-text-color);
}

.portfolio__single__desc__video {
	margin-top: 50px;
}

.portfolio__single__gallery__desktop, .portfolio__single__gallery__desktop__extend, .portfolio__single__gallery__mobile {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	margin-bottom: 30px;
}

.portfolio__single__desc__content {
	width: 100%;
}

/*# sourceMappingURL=style.css.map */