/* Reset css
--------------------------------------------- */
/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

/* Set core body defaults */
html {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	min-height: 100%;
	height: 100%;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}

/* Remove underline from all links */
a {
	text-decoration: none;
	color: var(--main-dark-text-color);
}

/* Imports
--------------------------------------------- */
/*--------------------------------------------------------------
# Breakpoints
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
:root {
	--main-dark-text-color: #222222;
	--white: #fff;
	--light-gray: #e8e8e8;
	--dark-gray: #1C1C1C;
	--pink: #F41F52;
}

/*--------------------------------------------------------------
# Variables font mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Global flexbox, margins, paddings
--------------------------------------------------------------*/
.flex {
	display: flex;
}

.flex-jc-sb {
	justify-content: space-between;
}

.flex-jc-sa {
	justify-content: space-around;
}

.flex-jc-c {
	justify-content: center;
}

.flex-jc-l {
	justify-content: flex-start;
}

.flex-ai-c {
	align-items: center;
}

.flex-ai-end {
	align-items: flex-end;
}

.main-margin {
	margin: 0 4vw;
}

@media only screen and (min-width: 1030px) and (max-width: 2159px) {
	.main-margin {
		margin: 0 8vw;
	}
}

.main-padding {
	padding: 0 3vw;
}

@media only screen and (max-width: 640px) {
	.main-padding {
		padding: 0 4vw;
	}
}

@media only screen and (max-height: 768px) {
	.main-padding {
		padding: 0 10vw;
	}
}

@media only screen and (min-width: 1030px) and (max-width: 2159px) {
	.main-padding {
		padding: 0 12vw;
	}
}

@media only screen and (min-width: 2160px) {
	.main-padding {
		padding: 0 20vw;
	}
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
.button {
	font-family: "Noto Sans", sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: var(--white);
	background-color: var(--pink);
	border-radius: 65px;
	border-style: none;
	cursor: pointer;
	display: inline-block;
	height: 44px;
	width: 200px;
	list-style: none;
	margin: 0;
	outline: none;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	vertical-align: baseline;
}

.section-header {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 2.2rem;
	color: var(--main-dark-text-color);
	position: relative;
	z-index: 9;
}

.section-header::after {
	position: absolute;
	z-index: -1;
	content: '';
	height: 18px;
	top: 32px;
	left: 40px;
	width: 148px;
	background: url(images/section-header-pink-underline.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

.arrow-after {
	position: relative;
}

.arrow-after::after {
	position: relative;
	content: '';
	height: 12px;
	width: 32px;
	top: 5px;
	left: 10px;
	background: url(images/pink-arrow.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

/*--------------------------------------------------------------
# Styles
--------------------------------------------------------------*/
.site-header {
	margin: 20px 0 20px 0;
}

.site-header__logo__title {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	font-size: 1.8rem;
	color: var(--main-dark-text-color);
}

.site-header__logo__title span {
	font-weight: 500;
}

.site-header__menu__item {
	margin-left: 117px;
}

.site-header__menu__item a {
	font-family: "Noto Sans", sans-serif;
	font-weight: 300;
	font-size: 1rem;
	color: var(--main-dark-text-color);
}

.hero {
	margin-bottom: 200px;
}

.hero__description {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 3rem;
	color: var(--main-dark-text-color);
	line-height: 3.8rem;
	white-space: pre-line;
	margin: 70px 0;
}

.hero__description span {
	font-weight: 900;
}

.hero__image img {
	width: 500px;
	margin-top: 400px;
}

.about {
	margin-bottom: 100px;
}

.about__services li {
	margin-top: 50px;
	padding-right: 38px;
}

.about__services__header {
	position: relative;
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 1rem;
	color: var(--main-dark-text-color);
}

.about__services__header::after {
	position: absolute;
	content: '';
	height: 1px;
	bottom: -4px;
	left: 0;
	right: 0;
	width: 130px;
	background: var(--main-dark-text-color);
}

.about__services__description {
	font-family: "Noto Sans", sans-serif;
	font-weight: 500;
	font-size: 0.8rem;
	color: var(--main-dark-text-color);
	margin-top: 16px;
}

.about__info {
	max-width: 50%;
}

.about__info__description {
	font-family: "Noto Sans", sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	color: var(--main-dark-text-color);
	margin-top: 10px;
}

.about__info a {
	font-family: "Noto Sans", sans-serif;
	font-weight: 400;
	font-size: 0.8rem;
	color: var(--main-dark-text-color);
	justify-content: end;
	margin-top: 20px;
}

/*# sourceMappingURL=style.css.map */